<h2>Sign Up for Belief Mapper</h2>

<%= flash[:error] %>

<%= bootstrap_form_for(@user, layout: :inline, url: edit_user_registration_path, method: :put) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, :value => "", hide_label: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off", hide_label: true %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", hide_label: true %>
  </div>

  <div class="field">
    <input type="text" value=<%= resource.id.to_s %> name="id" hidden>
  </div>

  <br>

  <div class="actions">
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>

<br>
    <% if current_user.demographic.nil? %>
    <p><%= link_to 'Add My Demographic Information', new_demographic_path %></p>
    <% else %>
    <p><%= link_to 'Edit My Demographic Information', edit_demographic_path(current_user.demographic.id) %></p>
    <% end %>

<%= link_to "Back", :back %>
