<%= form_for @comment, url: comments_path, :html => { method: :post, :class => "form-inline" } do |f| %>

  <input hidden name="belief_id" value=<%= @belief.id %>>

  <div class="field form-group">
    <% f.label :write_something %>
    <%= f.text_area :body, :size => "87%", :class => "form-control", placeholder: "Leave a comment...", hide_label: true %>
  </div>

  <div class="actions form-group">
    <%= f.submit "Submit", :class => "btn btn-primary" %>
  </div>
<% end %>

<br>
<% if @comments == [] %>
  <p>No comments yet.</p>
<% else %>
  <ul class="comment-container">
  <% @comments.each do |comment| %>
    <%= render partial: "comments/show", locals: { comment: comment } %>
  <% end %>
  </ul>
<% end %>