<h1>Discussion Board</h1>
<p class="lead">Use this page to leave some feedback, suggest a belief that you didn't see, discuss definitions, or write anything else.</p>

<hr><br>

<%= form_for @comment, url: comments_path, :html => { method: :post, :class => "form-inline" } do |f| %>

  <div class="field form-group">
    <%= f.label :title %> (optional)<br />
    <%= f.text_field :title, :class => "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :body %><br />
    <%= f.text_field :body, :size => "100%", :class => "form-control" %>
  </div>



  <div class="actions form-group">
    <%= f.submit "Submit", :class => "btn btn-primary", :id => "comment-submit" %>
  </div>
<% end %>

<br>

<div class="row">
  <div class="col-md-6">
  <% if @comments.nil? %>
    <p class="lead">No comments to display yet.</p>
  <% else %>
    <% @comments.each do |comment| %>
    <h4><%= comment.title %></h4>
    <div class="pull-right"><%= "posted in " + comment.tags.first.name unless comment.tags.first.nil?%></div>
    <p><%= comment.user.username %></p>
    <p><%=raw comment.body %></p>
      <% unless @comments.last == comment %>
        <hr>
      <% end %>
    <% end %>
  <% end %>
  </div>
  <div class="col-md-6"><br>
    <h4>Most Popular Tags</h4>
    <ol>
      <% ActsAsTaggableOn::Tag.most_used.each do |tag| %>
        <li><%= tag.name %></li>
      <% end %>
    </ol>
  </div>
</div>