<h3>Toolbar</h3>
  <hr>
      <%= form_for :belief, url: beliefs_path, method: :get do |f| %>
        <div class="field">
          <input type="text" id="query" name="query" placeholder="Search All Beliefs" />
          <%= f.submit "Search" %>
        </div>
        <div class="actions">
        </div><br>
      <% end %>

    <%= form_for :user_belief, url: user_belief_path(:user_belief), method: :delete do |f| %>
        <div class="field">
          <%= f.select(:name, current_user.beliefs.map { |belief| belief.name }, {include_blank: 'Select a belief to'}) %>
        </div>
      <div class="actions">
          <%= f.submit "Unsubscribe" %>
        </div><br>
      <% end %>

<hr>
    <p><%= link_to 'Sign Up', edit_user_registration_path %></p>
    <% if current_user.demographic.nil? %>
    <p><%= link_to 'Add Demographics', new_demographic_path %></p>
    <% else %>
    <p><%= link_to 'Edit Demographics', edit_demographic_path(current_user.demographic.id) %></p>
    <% end %>
    <p>Share your Map</p>
  </ul>

      <hr>
    <p>Take a Survey</p>
      <ul>
        <li>Philosophy</li>
        <li>Politics</li>
        <li>Religion</li>
      </ul>
  <hr>
  <%= form_for :belief, url: beliefs_path, method: :get do |f| %>
        <div class="field">
          <input type="text" id="user" name="user" placeholder="Show Your Beliefs" />
          <%= f.submit "Search" %>
        </div>
        <div class="actions">
        </div><br>
      <% end %>
  <p>Filter by</p>
      <ul>
        <li>Category</li>
        <li>My Beliefs</li>
        <li><%= check_box("filter", "button", {}, "yes", "no") %></li>
        <li>Gender</li>
        <li>Age</li>
        <li>Location</li>
        <li>Religious Affiliation</li>
      </ul>

</div>
