<h2>Log in</h2><br>

<%= bootstrap_form_for(@user, layout: :inline, url: user_session_path) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, hide_label: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off", hide_label: true %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me, hide_label: true %>
    </div>
  <% end -%>
  <br>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

  <br>
  <br>


<%= render "devise/shared/links" %>
