  <!-- QUESTION DIV BEGINS HERE -->
  <div class="row lead question_div">
    <!-- <div class="col-md-1"></div> -->
      <!-- <div class ="row last_question_response question_display">
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
      </div> -->
      <div class="row lead question_display">
        <br>

        <% if user_signed_in? %>

          <% belief_id = current_user.unexamined_beliefs.sample if user_signed_in? %>
          <% @belief = Belief.find(belief_id) %>
          <% user = current_user %>

          <% if user.answered_questions == 10 && user.demographic.nil? %>
            <%= render partial: "beliefs/demographics_prompter" %>
          <% elsif user.answered_questions == 20 && user.active == false %>
            <%= render partial: "beliefs/sign_up_prompter" %>
          <% else %>
            <% if user.percent_answered_int < 100 %>
              <p>Do you believe <%= @belief.definition.sub(/belief /, "").sub(/doctrine /, "")%>?</p>
              <div class="row lead">
                <%= render partial: "beliefs/slider_form", locals: { belief: belief_id } %>
                <a href="#" id="refresh_this" class="skip btn btn-primary submit" role="button">Skip</a>
                <a href=<%= belief_path(@belief.name) %> class="skip btn btn-primary submit glyphicon glyphicon-comment" title="See the discussion regarding this belief"></a>
                <script type="text/javascript">bindRefreshButton();</script>
              </div>
            <% else %>
              <h1>Congratulations, you've answered all the questions we have for you!</h1>
              <p>You've skipped <%= current_user.user_beliefs.where(skipped: true).count %> questions. Check out <%= link_to 'your skipped questions', "/users/your_beliefs#your_skipped_questions" %> if you'd like to revisit them.
                There are also more beliefs in the system than we've asked you about. To view them, checkout the list of <%= link_to 'all beliefs', list_beliefs_path%>.</p><br>
            <% end %>
            <%= render partial: "beliefs/progress_bar" %>
          <% end %>
        <% else %> 
        <!-- when user has not submitted any answers yet -->
          <% @belief = Belief.all.where(starred: true).sample %>
          <p>Do you believe <%= @belief.definition.sub(/belief /, "").sub(/doctrine /, "")%>?</p>
          <div class="row lead">
            <%= render partial: "beliefs/slider_form", locals: { belief: @belief } %>
            <a href="#" id="refresh_this" class="skip btn btn-primary submit" role="button">Skip</a>
            <script type="text/javascript">bindRefreshButton();</script>
          </div>
        <% end %>
      </div>
  </div>



