<%= link_to 'Return to Graph', beliefs_path %><br><br>
<% your_beliefs = current_user.held_beliefs %>
<table class="table table-hover table-striped" id="resultTable">
  <thead>
    <tr>
      <th class="numsort">Name</th>
      <th class="numsort">Definition</th>
      <th class="numsort">Number of Believers</th>
      <th class="numsort">Avg. Conviction</th>
      <th colspan="1">Add/Remove Belief</th>
    </tr>
  </thead>
  <tbody>
  <%@results.each do |result| %>
    <tr class="tablerow">
      <td class="numsort"><%= link_to result.name, belief_path(result) %></td>
      <td class="numsort"><%= result.definition %>
        <div id=<%= "refresh-" + result.id.to_s %> class="table-slider"></div>
</td>
      <td class="numsort"><%= result.user_count %></td>
      <td class="numsort"><%= result.avg_conviction%>%</td>
      <% unless your_beliefs.include?(result) %>
        <td><%= button_tag 'Add', :class => 'subscribe ' + result.id.to_s + ' btn btn-default' %></td>
      <% else %>
        <td><%= button_to 'Remove', user_belief_path(result), :class => 'btn btn-danger', method: :delete %></td>
      <% end %>
          </tr>
  <% end %>
  </tbody>
</table>

