


  <ul class="nav nav-pills nav-stacked">
    <li role="presentation" class=""><a href="/">Home</a></li>
    <% if user_signed_in? == false %>
      <li role="presentation" class=""><a href="/users/sign_up">Sign up</a></li>
    <%else%>
      <li role="presentation" class=""><a href="/users/edit">Edit My Account</a></li>
    <%end%>
    <li role="presentation"><%= link_to 'List All Beliefs', list_beliefs_path%></li>
    <li role="presentation"><a href="#">List Belief By Category</a></li>
      <ul>
        <% Category.all.each do |category|%>
          <li><%= link_to category.name, category_path(category) %></li>
        <%end%>
      </ul>
  <li role="presentation" class=<%="active" if request.fullpath == "/users" %>><%= link_to 'Display Your Belief Map', users_path %></li>
  <li role="presentation" class=<%="active" if request.fullpath == "/beliefs" %>><%= link_to 'Display All Belief Map', beliefs_path %></li>

  </ul>
  <br>

  <a href="https://twitter.com/share" class="twitter-share-button" data-via="">Tweet</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id))         {js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
  </script>
  <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button"></div>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>

<!--
  <p>Filter by</p>
      <ul>
        <li>Category</li>
        <li>My Beliefs</li>
        <li><%= check_box("filter", "button", {}, "yes", "no") %></li>
        <li>Gender</li>
        <li>Age</li>
        <li>Location</li>
        <li>Religious Affiliation</li>
      </ul> -->


  <hr>
      <%= form_for :belief, url: beliefs_path, method: :get do |f| %>
        <div class="field">
          <input type="text" id="query" name="query" placeholder="Search All Beliefs" />
          <%= f.submit "Search" %>
        </div>
        <div class="actions">
        </div><br>
      <% end %>

      <%= form_for :user_belief, url: user_belief_path(:user_belief), method: :delete do |f| %>
        <div class="field">
          <%= f.select(:name, current_user.held_beliefs.map { |belief| belief.name }, {include_blank: 'Select a belief to'}) %>
        </div>
      <div class="actions">
          <%= f.submit "Unsubscribe" %>
        </div><br>
      <% end %>

</div>
