<!DOCTYPE html>
<meta charset="utf-8">
<style>

.link {
  stroke: #ccc;
}

.node text {
  pointer-events: none;
  font: 18 px sans-serif;
}

</style>
<body>
<% if (defined?(@results)).nil? %>
  <div id='refresh'>
    <%= render partial: "main_topbar", locals: { belief: @belief } %>
  </div>
  <hr id="top-line">
<% end %>

<!-- GRAPH DIV BEGINS HERE -->
<div class="row">
  <div class="col-lg-10 graph">
    <% if (defined?(@results)).nil? %>
<!--     <input type="range" name="max_nodes" id="max_nodes" value=40 min=10 max=100>
    <p id='text'></p> -->
<span id="graph-text" class="lead">
<p>Displaying <% if @maxed_out.nil? %>the top <%= @count %> most popular <% else %> all <% @maxed_out %><% end %> beliefs <% unless @category.nil? %> in <%= @category.name %><% end %></p>
</span>
<script>
   $(function() {
      renderD3Web();
   });
</script>
<div class="view-options text">
<%= form_for beliefs_path, method: 'get' do %>
  <div class="field">
    <%= number_field_tag(:count) %> Quantity
  </div>
  <div class="field">
    <select name="category">
      <option>Category</option>
      <option>All</option>
      <option value="1">Religion</option>
      <option value="2">Philosophy</option>
      <option value="3">Politics</option>
      <option value="4">Other</option>
    </select>
  </div>
  <div class="field">
    <%= submit_tag("Show") %>
  </div>
<% end %>
<br>
</div>

<% else %>
  <%= render partial: "results_table", locals: { results: @results } %>
<% end %>
</div>

<!-- TOOLBAR DIV -->
<div class="col-lg-2 toolbar">
  <%= render partial: "side_toolbar" %>
</div>

<!-- GRAPH EXPLANATION -->
<div>
  <%= render partial: "graph_explanation" %>
</div>

