<!DOCTYPE html>
<meta charset="utf-8">
<style>

.link {
  stroke: #ccc;
}

.node text {
  pointer-events: none;
  font: 18 px sans-serif;
}

</style>
<body>
<div>
  <h3>Question</h3>

  <% @belief = current_user.unexamined_beliefs.sample %>
  Do you believe <%= @belief.definition.sub(/belief /, "").sub(/doctrine /, "")  %>?
  <!-- + " - " + @belief.id.to_s -->
  <br>
  <br>
  <!-- <form method="post" action=""> -->
  <%= form_for :user_belief, url: user_beliefs_path do |f| %>
  <% f.hidden_field :belief %>
    <input type="hidden" name="belief" value=<%=@belief.id%>>
    <input type="range" name="conviction" id="conviction" value=0 min=0 max=100 list='levels' oninput="outputUpdate(value)">
<!--     <datalist id='levels'>
      <option>0</option>
      <option>50</option>
      <option>100</option>
    </datalist>
 -->    <output for='conviction' id='level'></output>
    <div id='options'>
    <div class='col-lg-4 col-md-4 col-sm-4' id='1'>Not at all</div>
    <div class='col-lg-4 col-md-4 col-sm-4' id='2'>I kinda believe that</div>
    <div class='col-lg-4 col-md-4 col-sm-4' id='3'>Core belief</div>
    </div>
    <!-- <input type="submit" data-inline="true" value="Submit"> -->
    <br>
    <script>
     $(function() {
        outputUpdate(level);
     });
    </script>
    <button type="submit" class="btn btn-success centered">Submit</button>
    <!-- </form> -->
    <% end %>
</div>
<hr>
<div class="row">
  <div class="col-lg-10 graph">
    <% if (defined?(@results)).nil? %>
<script>
   $(function() {
      renderD3Web();
   });
</script>
<div id="selected_node" hidden></div>
<% else %>
<%= link_to 'Return to Graph', beliefs_path %><br><br>
<% @results.each do |result| %>
<p><%= result.name + " - " + result.definition %></p>
<% end %>

<% end %>
</div>
<div class="col-lg-2 toolbar">
  <h3>Toolbar</h3>
  <hr>

      <%= form_for :belief, url: beliefs_path, method: :get do |f| %>
        <div class="field">
          <input type="text" id="query" name="query" placeholder="Search All Beliefs" />
          <%= f.submit "Search" %>
        </div>
        <div class="actions">
        </div><br>
      <% end %>


<!-- <script src="jquery.js"></script> -->
<!-- <script src="typeahead.js"></script> -->
<script>
  // $("#query").typeahead({
  //   name: "belief",
  //   remote: "/belief/autocomplete?query=%QUERY"
  // });
</script>


    <%= form_for :user_belief, url: user_belief_path(:user_belief), method: :delete do |f| %>
        <div class="field">
          <%= f.select(:user_belief, current_user.beliefs.map { |belief| belief.name }, {include_blank: 'Select a belief to'}) %>
        </div>
      <div class="actions">
          <%= f.submit "Unsubscribe" %>
        </div><br>
      <% end %>

<hr>
    <p><%= link_to 'Sign Up', edit_user_registration_path %></p>
    <% if current_user.demographic.nil? %>
    <p><%= link_to 'Add Demographics', new_demographic_path %></p>
    <% else %>
    <p><%= link_to 'Edit Demographics', edit_demographic_path(current_user.demographic.id) %></p>
    <% end %>
    <p>Share your Map</p>
  </ul>

      <hr>
    <p>Take a Survey</p>
      <ul>
        <li>Philosophy</li>
        <li>Politics</li>
        <li>Religion</li>
      </ul>
  <hr>
  <p>Filter by</p>
      <ul>
        <li>Gender</li>
        <li>Age</li>
        <li>Location</li>
        <li>Religious Affiliation</li>
      </ul>

</div>

</div>

<!-- Stats on questions answered and progress -->
<div class="row">
  <hr>

  <h4>Percentage of questions answered:</h4>

  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%=current_user.percent_answered %>;">
      <%=current_user.percent_answered %>
    </div>
  </div>

  <h4>You've answered <%=current_user.beliefs_answered.count%> questions.</h4>

  <h4>You have <%=current_user.held_beliefs.count%> held beliefs.</h4>

</div>
