<%= link_to 'Return to Graph', beliefs_path %><br>

<div class="row">
	<div class="col-md-5">

		<h1> <%=@belief.name.capitalize%></h1>

		<p>
		  <strong>Category:</strong> <%= link_to @belief.category.name, category_path(@belief.category) %>
		</p>

		<p>
		  <strong>Definition:</strong> <%=@belief.definition%>
		</p>

		<p>
		  # of users who <strong>strongly agree</strong> with this belief: <%=@belief.strong_convictions.count %>
		  <br>
		  # of users who <strong>don't strongly agree</strong> with this belief: <%=@belief.user_count - @belief.strong_convictions.count %>
		</p>

		<p>
		  <strong>Average Conviction:</strong> <%=@belief.avg_conviction.to_i%>%
		</p>

		<p>
		  <strong>Rank:</strong> <%=@belief.rank.to_s + "/" + Belief.total_beliefs.to_s %>
		</p>
		<br>

		<h3>Closely Related Beliefs</h3>
		<p>This is based on the number of users hold this belief and the related belief each with more than 50% conviction.</p>
		<% if @belief.user_count > 0 %>
			<ol>
				<%@belief.top_connections_links.each do |conn|%>
					<li><a href="/beliefs/<%=conn[0]%>"><%=conn[0]%></a></li>
				<%end%>
			</ol>
		<% else %>
			<p>No closely related beliefs.</p>
		<% end %>
		<br>
			<!-- column_chart @belief.top_connections_links just wrap in ruby-->
	</div>

	<div class="col-md-7" style="overflow:auto; height:460px;">
		<h3>Discussion Board</h3>
		<%= render partial: "comments/belief_discussion", locals: { belief: @belief } %>
	</div>
</div>


<% if @belief.user_count > 0 %>
	<div class="row">
		<div class="col-md-4"><h3> Religion <%= pie_chart @belief.group_demographics_by_religion%> </h3></div>
		<div class="col-md-4"><h3> Gender<%= pie_chart @belief.group_demographics_by_gender %> </h3></div>
		<div class="col-md-4"><h3> Education<%= pie_chart @belief.group_demographics_by_education %> </h3></div>
		<div class="col-md-4"></div>
	</div>
	<h3> Age<%= column_chart @belief.group_demographics_by_age %></h3>
<% else %>
	<p>Not enough stats to display graphs for this belief yet.</p>
<% end %>

