<%= link_to 'Return to Graph', beliefs_path %><br><br>

<h1> <%=@belief.name.capitalize%></h1>

<p>
  Category: <%= link_to @belief.category.name, category_path(@belief.category) %>

</p>

<p>
  Definition: <%=@belief.definition%>
</p>

<p>
  Total number of users with belief: <%=@belief.user_count %>
</p>

<p>
  Average Conviction: <%=@belief.avg_conviction.to_i%>%
</p>

<p>
  Rank: <%=@belief.rank.to_s + "/" + Belief.total_beliefs.to_s %>
</p>
<h3>Closely Related Beliefs</h3>
<div class="row">

<div class="col-md-3 connection-links ">
<%@belief.top_connections_links.each do |conn|%>
<br>
<a href="/beliefs/<%=conn[0]%>"><%=conn[1]%></a>
<%end%>
</div>
<div class="col-md-9">
<p> <%= column_chart @belief.list_top_connections %></p>
</div>
</div>

<div class="row">
<div class="col-md-4"><h3> Religion <%= pie_chart @belief.all_stats_for("religion") %> </h3></div>
<div class="col-md-4"><h3> Gender<%= pie_chart @belief.all_stats_for("gender") %> </h3></div>
<div class="col-md-4"><h3> Education Level<%= pie_chart @belief.all_stats_for("education_level") %></h3></div>
</div>

