<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <title>Life Examined</title>
</head>
<body>


  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <a href="/">
          <%= image_tag("logo-image-only.jpg", :alt => "logo", class: "navbar-brand")%>
          <div class="logo_text navbar-brand">life examined</div>
        </a>
      <div class="header_buttons">
        <!-- Only displays logout button if user is signed in -->
        <% if user_signed_in? %>
          <% if current_user.active == true %>
            <button type="button" class="btn btn-default navbar-btn pull-right"><%= link_to 'Log Out', destroy_user_session_path, method: :delete%></button>
          <% else %>
            <button type="button" class="btn btn-default navbar-btn pull-right"><%= link_to 'Sign in', new_user_session_path %></button>
            <button type="button" class="btn btn-default navbar-btn pull-right"><%= link_to 'Sign up', users_activate_path %></button>
          <% end %>
        <!-- Displays sign in or sign up button if not logged in -->
        <% else %>
          <button type="button" class="btn btn-default navbar-btn pull-right"><%= link_to 'Sign in', new_user_session_path %></button>
          <button type="button" class="btn btn-default navbar-btn pull-right"><%= link_to 'Sign up', new_user_registration_path %></button>
        <% end %>
      </div>
    </div>
  </nav>




<div class='container'>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>

<br>
  <hr><br>
  <p class="centered">Life Examined</p>
  <br>
  <br>
</div>

</body>
</html>
