<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <title>BeliefMapper</title>
</head>
<body>
<div class='container'>
      <!-- Only displays logout button if user is signed in -->
      <% if user_signed_in? %>
        <button type="button" class="btn btn-default navbar-btn pull-right"><%= link_to 'Log Out', destroy_user_session_path, method: :delete%></button>
      <!-- Displays sign in or sign up button if not logged in -->
      <% else %>
        <button type="button" class="btn btn-default navbar-btn pull-right"><%= link_to 'Sign in', new_user_session_path %></button>
        <button type="button" class="btn btn-default navbar-btn pull-right"><%= link_to 'Sign up', new_user_registration_path %></button>
      <% end %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>
<hr>
<p class="centered">Belief Mapper</p>
<br>
<br>
</div>

</body>
</html>
