<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <title>Belief Mapper</title>
</head>
<body>


  <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <a href="/">
          <%= image_tag("logo-image-only.jpg", :alt => "logo", class: "navbar-brand")%>
          <div class="logo_text navbar-brand">Belief Mapper</div>
        </a>
      <div class="header_buttons">
        <!-- Only displays logout button if user is signed in -->
        <% if user_signed_in? %>
          <% if current_user.active == true %>
            <%= button_to 'Log Out', destroy_user_session_path, method: :delete, :class => "btn btn-default navbar-btn pull-right" %>
            <%= button_to 'My Account', edit_user_registration_path, method: :get, :class => "btn btn-default navbar-btn pull-right" %>
              
          <% else %>
            <%= button_to 'Sign up', users_activate_path, method: :get, :class => "btn btn-default navbar-btn pull-right" %>
            <%= render partial: "layouts/sign_in_form" %>
          <% end %>
        <!-- Displays sign in or sign up button if not logged in -->
        <% else %>
          <% unless request.original_url.match('sign_up') %>
            <%= button_to 'Sign up', new_user_registration_path, method: :get, :class => "btn btn-default navbar-btn pull-right" %>
            <%= render partial: "layouts/sign_in_form" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </nav>




<div class='container'>
<!--   <p class="notice">ruby just notice</p>
  <p class="alert">ruby just alert</p>
 --> 
  <%= yield %>

<br>
  <hr><br>
  <p class="centered">Belief Mapper</p>
  <br>
  <br>
</div>

</body>
</html>
